@tailwind base;
@tailwind components;
@tailwind utilities;

/* Đảm bảo bản đồ leaflet hiển thị đúng */
.leaflet-container {
  height: 100%;
  width: 100%;
}
.leaflet-container a{
  color: #fff !important;
}